coverfloat_worklib/
build/
*transcript*
@_opt/
_info
_lib.qdb
_lib1_2.qdb
_lib1_2.qpg
_lib1_2.qtl
_temp/
_tempmsg/
_vmake
*.log
*.ucdb
*.o
__pycache__/
tests/covervectors/B*_cv.txt
tests/testvectors/B*_tv.txt
